<div id="<%= dom_id site %>">
  <div>
    <strong>Title:</strong>
    <%= site.title %>
  </div>

  <div>
    <strong>Logo:</strong>
    <%= site.logo %>
  </div>

  <div>
    <strong>Cnpj:</strong>
    <%= site.cnpj %>
  </div>

</div>
